// Color variables
$black: #000;
$white: #fff;
$red: #f44;
$blue: #1989fa;
$orange: #ff976a;
$orange_dark: #ed6a0c;
$orange_light: #fffbe8;
$green: #07c160;
$gray: #c8c9cc;
$gray_light: #e5e5e5;
$gray_darker: #3b3b3b;
$gray_dark: #434343;
// Default colors
$text_color: #666666;
$border_color: #ebedf0;
$active_color: #e8e8e8;
$background_color: #f8f8f8;
$background_color_light: #fafafa;
// Button
$button_default_color: $text_color;
$button_default_background_color: $white;
$button_default_border_color: $border_color;
$button_primary_color: $white;
$button_primary_background_color: $green;
$button_primary_border_color: $green;
$button_info_color: $white;
$button_info_background_color: $blue;
$button_info_border_color: $blue;
$button_danger_color: $white;
$button_danger_background_color: $red;
$button_danger_border_color: $red;
$button_warning_color: $white;
$button_warning_background_color: $orange;
$button_warning_border_color: $orange;
$button_bottom_action_default_color: $white;
$button_bottom_action_default_background_color: $orange;
$button_bottom_action_primary_color: $white;
$button_bottom_action_primary_background_color: $red;
// Checkbox
$checkbox_size: 20px;
$checkbox_border_color: $gray_light;
$checkbox_transition_duration: 0.2s;
$checkbox_label_margin: 10px;
$checkbox_label_color: $text_color;
$checkbox_checked_icon_color: $blue;
$checkbox_disabled_icon_color: $gray;
$checkbox_disabled_label_color: $gray;
$checkbox_disabled_background_color: $border_color;
// Collapse
$collapse_item_transition_duration: 0.3s;
$collapse_item_content_padding: 15px;
$collapse_item_content_font_size: 13px;
$collapse_item_content_line_height: 1.5;
$collapse_item_content_text_color: $gray_dark;
$collapse_item_content_background_color: $white;
$collapse_item_title_disabled_color: $gray;
// Info
$info_size: 16px;
$info_color: $white;
$info_padding: 0 3px;
$info_font_size: 12px;
$info_font_weight: 500;
$info_border_width: 1px;
$info_background_color: $red;
$info_font_family: PingFang SC, Helvetica Neue, Arial, sans_serif;
// List
$list_icon_size: 16px;
$list_icon_margin_right: 5px;
$list_text_color: $gray_dark;
$list_text_font_size: 13px;
$list_text_line_height: 50px;
// NavBar
$nav_bar_height: 46px;
$nav_bar_background_color: $white;
$nav_bar_arrow_size: 16px;
$nav_bar_icon_color: $blue;
$nav_bar_text_color: $blue;
$nav_bar_title_font_size: 16px;
$nav_bar_title_text_color: $text_color;
// Notify
$notify_padding: 6px 15px;
$notify_font_size: 14px;
$notify_line_height: 20px;
// NumberKeyboard
$number_keyboard_key_height: 54px;
$number_keyboard_key_background: #ebedf0;
// Overlay
$overlay_background_color: rgba(0, 0, 0, 0.7);
// Radio
$radio_size: 20px;
$radio_border_color: $gray_light;
$radio_transition_duration: 0.2s;
$radio_label_margin: 10px;
$radio_label_color: $text_color;
$radio_checked_icon_color: $blue;
$radio_disabled_icon_color: $gray;
$radio_disabled_label_color: $gray;
$radio_disabled_background_color: $border_color;
// Swipe
$swipe_indicator: 6px;
// Switch
$switch_width: 2em;
$switch_height: 1em;
$switch_node_size: 1em;
$switch_node_z_index: 1;
$switch_node_background_color: $white;
$switch_node_box_shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.05),
    0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 3px 3px 0 rgba(0, 0, 0, 0.05);
$switch_background_color: $white;
$switch_on_background_color: $blue;
$switch_transition_duration: 0.3s;
$switch_disabled_opacity: 0.4;
$switch_border: 1px solid rgba(0, 0, 0, 0.1);
// SwitchCell
$switch_cell_padding_top: 9px;
$switch_cell_padding_bottom: 9px;
// Tab
$tabs_line_height: 44px;
$tabs_card_height: 30px;
// Toast
$toast_max_width: 70%;
$toast_font_size: 14px;
$toast_text_color: $white;
$toast_line_height: 20px;
$toast_border_radius: 4px;
$toast_background_color: rgba($text_color, 0.88);
$toast_icon_size: 48px;
$toast_text_min_width: 96px;
$toast_text_padding: 8px 12px;
$toast_default_padding: 15px;
$toast_default_width: 90px;
$toast_default_min_height: 90px;
$toast_position_top_distance: 50px;
$toast_position_bottom_distance: 50px;
// Search
$search_background_color: #f7f8fa;
// Stepper
$stepper_background_color: #f2f3f5;
$stepper_button_disabled_color: #f7f8fa;
$stepper_border_radius: 4px;
$stepper_input_disabled_color: #f2f3f5;

