.wrap {
    background: #ececec;
    height: 100%;
}
.userLinks {
    padding: 36px 0;
    font-size: 24px;
    text-align: center;
    background-color: #fff;
}

.userOrder {
    padding: 30px 20px;
    span {
        font-size: 34px;
        font-weight: bold;
    }
}

.userIcon {
    margin-bottom: 12px;
    display: block;
    font-size: 50px !important;
    color: $red;
}

.userTab {
    div {
        background: #fff;
        margin-top: 0 !important;
        color: $red;
        border-color: $red;
    }
}
